<a href="https://colab.research.google.com/github/asukul/mbds21/blob/main/GCP_cloud_sql_IP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Guide to connect your colab (or jupyter notebook) to MySQL server on GCP Cloud SQL**
## We are using pandas to interact with DB through SQL command

by Adisak Sukul
6-30-2021
for DSPG21 reference

In [37]:
# Check your public IP (colab IP),then add it ont the GCP allow ip list

from requests import get

ip = get('https://api.ipify.org').text
print('My public IP address is: {}'.format(ip))

My public IP address is: 35.201.143.183

In [38]:
#edit with your username
my_username = 'YOUR_USERNAME_ON_CloudSQL'

In [39]:
#if your user require password
my_password = 'YOUR_PASSWORD_ON_CloudSQL'

In [40]:
import os
#import mysql.connector

In [41]:
!pip install PyMySQL
import pymysql

Requirement already satisfied: PyMySQL in /usr/local/lib/python3.7/dist-packages (1.0.2)

In [42]:
#GCP Cloud SQL server ip

host_ip = '34.122.29.185'

In [43]:
db_name = 'egdm'

In [44]:
# Connect to the database
connection = pymysql.connect (host = host_ip,
                             user = my_username,
                             password = my_password,
                             db = db_name,
                             charset = 'utf8',
                             cursorclass = pymysql.cursors.DictCursor)

print ("connect successful!!")

connect successful!!

In [45]:
connection

In [46]:
import pandas as pd

In [47]:
egdm_tables = pd.read_sql_query("SHOW TABLES FROM egdm", connection)

In [48]:
egdm_tables

  Tables_in_egdm
0   partner_test
1  partner_test1

In [49]:
tables = egdm_tables["Tables_in_egdm"]

In [50]:
#browse all tables in the database

for tables_name in tables:
  output = pd.read_sql_query('DESCRIBE {}'.format(tables_name),connection)
  print(tables_name)
  print(output, '\n')

partner_test
        Field         Type Null  Key Default Extra
0  partner_id      int(11)   NO  PRI    None
1        name  varchar(45)  YES         None
2     address  varchar(45)  YES         None
3        city  varchar(45)  YES         None
4         zip  varchar(45)  YES         None
5     type_id  varchar(45)  YES         None

partner_test1
        Field         Type Null  Key Default Extra
0  partner_id      int(11)   NO  PRI    None
1        name  varchar(45)  YES         None
2     address  varchar(45)  YES         None
3        city  varchar(45)  YES         None
4         zip  varchar(45)  YES         None
5     type_id  varchar(45)  YES         None

In [51]:
partner_test1 = pd.read_sql_query("SELECT * from partner_test1", connection)

In [52]:
partner_test1

   partner_id        name       address  city    zip type_id
0           5  DSPG Corp.  Park Library  Ames  50011       9

In [53]:
#use this to test connection only


# try:
  
 
#     with connection.cursor() as cursor:
       
#         # SQL 
#         sql = "SHOW TABLES FROM egdm"
         
#         # Execute query.
#         cursor.execute(sql)
         
#         print ("cursor.description: ", cursor.description)
 
#         print()
 
#         for row in cursor:
#             print(row)
             
# finally:
#     # Close connection.
#     connection.close()

In [54]:
#This is just Adisak backup code
#in the case we need to switch adapter to mysql.connector


# !pip install PyMySQL
# !pip install mysql-connector-python

#connection = mysql.connector.connect(host = 'localhost',
#                                     user = my_username,
#                                     password = my_password,
#                                     db = 'egdm')